.footer-container {
  background-color: #c0ebd7;
  color: #212529;
  text-align: center;
  padding: 20px 0;
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container .navbar-brand {
  font-weight: bold;
  font-size: 1.2rem;
}
