.homepage-container {
  text-align: center;
  padding: 20px;
  padding-bottom: 25rem;
  background-color: #c0ebd7; 
}

.homepage-header {
  background-color: #6D6D6D; 
  height: 60vw;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.homepage-image {
  max-width: 100%;
  height: auto;
  border-radius: 1rem;
  object-fit: cover;
  position: absolute;
  opacity: 0.3;
  z-index: -1;
}

#hungryhelperTitle {
  width: 100%;
  position: relative;
}

.homepage-title {
  font-size: 2.5rem;
  color: #F3F4F6;
  margin-top: 1rem;
}

.homepage-subtitle {
  font-size: 2.5vw;
  color: #F3F4F6;
  position: relative;
}

.homepage-content {
  min-height: calc(100vh - 80px);
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homepage-message {
  font-size: 2vw;
  color: #F3F4F6;
  margin-bottom: 1rem;
  position: relative;
}

#homePageButton {
  background-color: #84B4B8;
  padding: 1rem;
  padding-bottom: 2rem;
  text-decoration: none;
  color: #F3F4F6;
  border-radius: 1rem;
  position: relative;
}

#homePageButton:hover {
  background-color: #387F85;
}

#linkDiv {
  margin-top: 2rem;
}
