.logout-button {
  margin-top: 10px;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
  background-color: #84B4B8;  
  color: #212529; 
  border-color: #F3F4F6;
}

.logout-button:hover {
  background-color: #387F85;
  color: #F3F4F6; 
  border-color: #F3F4F6; 
}
