.reservation-form-container{
  background-color: #c0ebd7;
  min-height: 100vh; 
  padding: 20px;
}
.reservation-form {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 20px;
  background-color: #6D6D6D; 
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.reservation-form label {
  font-weight: bold;
  color: #F3F4F6;
  margin-top: 1rem;
}

.form-select {
  font-weight: bold;
  color: #212529;
  background-color: #F3F4F6;
  border: 1px solid #212529;
}

.button-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.submit-button {
  background-color: #84B4B8; 
  border: none;
  color: #212529;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #387F85;
  color: #F3F4F6; 
}

.cancel-button {
  background-color: #212529; 
  border: none;
  color: #F3F4F6;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button:hover {
  background-color: #000000;
}
