/* ReservationPage.css */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.reservation-card {
  flex: 0 0 calc(32% - 20px);
  margin: 10px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.reservation-card:hover {
  transform: scale(1.05);
}

.card-img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.card-title {
  font-size: 1.5rem;
  margin-top: 10px;
  margin-bottom: 0;
  color: black;
}

.card-text {
  margin-top: 5px;
  color: black;
}

.delete-button {
  margin-top: 10px;
  background-color: #e74c3c;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover {
  background-color: #c0392b;
}
